<div class="row">
  <%= simple_form_for(@task) do |f| %>
    <%= f.input :name, input_wrapper_html: { class: 'col-sm-4' } %>
    <%= f.input :points %>
      <div class="col">
        <%= f.input :due_date, as: :string,
                    wrapper_html: { class: "mb-4" },
                    label_html: { class: "form-label text-secondary" },
                    input_html: { data: { controller: "flatpickr" } } %>
      </div>
    <%= f.association :contact, collection: Contact.where(household: current_user.household).map {|contact|[contact.title, contact.id]} %>
    <%= f.association :category, collection: Category.all %>
    <%= f.association :assigned_to, collection: User.where(household: current_user.household).map{ |user| [user.username, user.id]}%>
    <%= f.submit :"Create new task", :class => "create" %>
  <% end %>
</div>


<%#= f.input :subdomain, input_wrapper_html: { class: 'col-sm-4' } %>