<div class="main-div" data-controller="filter-tasks">
  <div class="button-container container d-flex justify-content-center flex-grow sticky-top pt-3 pb-3">
    <div class="button-box d-flex flex-grow">
      <div class="btn btn-menu btn-active" data-filter-tasks-target="navButton">
        <p data-action="click->filter-tasks#show" class="all"> All</p>
      </div>
      <div class="btn btn-menu" data-filter-tasks-target="navButton">
        <p data-action="click->filter-tasks#show" class="user"> <%= current_user.username.capitalize %></p>
      </div>
      <div class="btn btn-menu" data-filter-tasks-target="navButton">
        <p data-action="click->filter-tasks#show" class="partner"><%= current_user.household.users.reject { |user| user.id == current_user.id }[0].username.capitalize %></p>
      </div>
      <div class="btn btn-menu" data-filter-tasks-target="navButton">
        <p data-action="click->filter-tasks#show" class="open"> Open</p>
      </div>
    </div>
  </div>
<div class="hello container">
  <h1>Hello <%= current_user.username %>!</h1>
  <div class="hello-names d-none">
    <div class="hello-user">
      <p><%= current_user.username %></p>
    </div>
    <div class="hello-partner">
      <p><%= current_user.household.users.reject { |user| user.id == current_user.id }[0].username.capitalize %></p>
    </div>
  </div>
  <div class="hello-stat-names" >
    <% @user_sum = @user_tasks.pluck(:points).sum %>
    <% @partner_sum = @partner_tasks.pluck(:points).sum%>
    <% @all_sum = @user_sum + @partner_sum%>
    <% if @all_sum.zero? %>
      <% @user_per = 50 %>
      <% @partner_per = 50%>
    <% else %>
      <% @user_per = (100.0*@user_sum/@all_sum).round %>
      <% @partner_per = (100.0*@partner_sum/@all_sum).round %>
    <% end %>
    <div class="hello-stat-user" style='<%="width: #{@user_per}%"%>'>
      <p><%= "#{@user_per}%" %></p>
    </div>
    <div class="hello-stat-partner" style='<%="width: #{@partner_per}%"%>'>
      <p><%= "#{@partner_per}%" %></p>
    </div>
  </div>
</div>
  <div class="container search overflow-fix mt-3 pt-2">
    <%= form_with url: tasks_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "find task"
      %>
      <%= submit_tag "Search", class: "btn btn-flat" %>
    <% end %>
  </div>
  <div class="container d-flex" data-filter-tasks-target="allSwitch">
    <div class="form-check form-switch" >
      <input data-action="click->filter-tasks#doneAll" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">undone/done</label>
    </div>
  </div>
  <div data-filter-tasks-target="allTasks" class="container pl-2 overflow-fix">
    <% @tasks.where(done: false).each do |task| %>
      <%= render "task", task: task %>
    <% end %>
  </div>
  <div data-filter-tasks-target="allTasksA" class="container pl-2 overflow-fix">
    <% @tasks.where(done: true).each do |task| %>
      <%= render "task", task: task %>
    <% end %>
  </div>

   <div class="container d-flex d-none" data-filter-tasks-target="currentUserSwitch">
    <div class="form-check form-switch">
      <input data-action="click->filter-tasks#doneCurrentUser" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">undone/done</label>
    </div>
  </div>
  <div data-filter-tasks-target="currentUser" class="container pl-2 overflow-fix d-none">
    <% @tasks.where(assigned_to: current_user).and(@tasks.where(done: false)).each do |task| %>
      <%= render "task", task: task %>
    <% end %>
  </div>
  <div data-filter-tasks-target="currentUserA" class="container pl-2 overflow-fix d-none">
    <% @tasks.where(assigned_to: current_user).and(@tasks.where(done: true)).each do |task| %>
      <%= render "task", task: task %>
    <% end %>
  </div>


   <div class="container d-flex d-none" data-filter-tasks-target="userPartnerSwitch">
    <div class="form-check form-switch">
      <input data-action="click->filter-tasks#doneUserPartner" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">undone/done</label>
    </div>
  </div>
  <div data-filter-tasks-target="userPartner" class="container pl-2 overflow-fix d-none">
      <% @tasks.where(assigned_to: current_user.household.users.reject { |user| user.id == current_user.id }[0]).and(@tasks.where(done: false)).each do |task| %>
        <%= render "task", task: task %>
      <% end %>
  </div>
  <div data-filter-tasks-target="userPartnerA" class="container pl-2 overflow-fix d-none">
      <% @tasks.where(assigned_to: current_user.household.users.reject { |user| user.id == current_user.id }[0]).and(@tasks.where(done: true)).each do |task| %>
        <%= render "task", task: task %>
      <% end %>
  </div>

   <div class="container d-flex d-none" data-filter-tasks-target="unassignedSwitch">
    <div class="form-check form-switch ">
      <input data-action="click->filter-tasks#doneUnassigned" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">undone/done</label>
    </div>
  </div>
  <div data-filter-tasks-target="unassigned" class="container pl-2 overflow-fix d-none">
    <% @tasks.where(assigned_to: nil).and(@tasks.where(done: false)).each do |task| %>
    <%= render "task", task: task %>
    <% end %>
  </div>
  <div data-filter-tasks-target="unassignedtask" class="container pl-2 overflow-fix d-none">
    <% @tasks.where(assigned_to: nil).and(@tasks.where(done: true)).each do |task| %>
    <%= render "task", task: task %>
    <% end %>
  </div>

</div>
