<h2>your households tasks</h2>
<%= link_to "Add new", new_task_path %>

<div class="container">
  <div>
    <% @tasks.each do |task| %>
     <div class="row">
      <%= link_to task_path(task) do %>
      <div class="list-group-item">
      <strong><%= task.name %></strong> <%= task.household.name%> <strong><%= task.assigned_to.nil? ? "unassigned" : task.assigned_to.username %> </strong> </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
