<div class="container welcome-message">
  <h1>Hello <%= current_user.username %>!</h1>
</div>

<div data-controller="filter-tasks">
  <div class="container d-flex justify-content-center flex-grow mt-3">
    <div class="button-box">
      <div class="btn btn-menu">
        <p data-action="click->filter-tasks#show" class="all"> all</p>
      </div>
      <div class="btn btn-menu">
        <p data-action="click->filter-tasks#show" class="user"> <%= current_user.username %></p>
      </div>
      <div class="btn btn-menu">
        <p data-action="click->filter-tasks#show" class="partner"><%= current_user.household.users.reject { |user| user.id == current_user.id }[0].username %></p>
      </div>
      <div class="btn btn-menu">
        <p data-action="click->filter-tasks#show" class="open"> open</p>
      </div>
    </div>
  </div>

  <div data-filter-tasks-target="allTasks" class="container pl-2 overflow-fix">
    <p>all tasks</p>
      <% @tasks.each do |task| %>
        <div class="task-card">
          <%= link_to(task_path(task)) do %>
            <h4><%= task.name %></h4>
          <% end %>
            <p><%= task.points %></p>
            <p><%= task.assigned_to.nil? ? "unassigned" : task.assigned_to.username %></p>
          <% unless task.done %>
            <%= link_to("done!", mark_as_done_path(task), data:{turbo_method: :post}, class: "width-fix" ) %>
          <% else %>
            <p>Task done!</p>
          <% end %>
        </div>
      <% end %>
  </div>

  <div data-filter-tasks-target="currentUser" class="container pl-2 overflow-fix d-none">
      <p>my tasks</p>
      <% @tasks.where(assigned_to: current_user).each do |task| %>
        <div class="task-card">
          <%= link_to(task_path(task)) do %>
            <h4><%= task.name %></h4>
          <% end %>
          <p><%= task.points %></p>
          <p> <%= task.assigned_to.username %></p>
          <% unless task.done %>
            <%= link_to("done!", mark_as_done_path(task), data:{turbo_method: :post}, class: "width-fix" ) %>
          <% else %>
            <p>Task done!</p>
          <% end %>
        </div>
      <% end %>
  </div>

  <div data-filter-tasks-target="userPartner" class="container pl-2 overflow-fix d-none">
      <p>partner task</p>
      <% @tasks.where(assigned_to: current_user.household.users.reject { |user| user.id == current_user.id }[0]).each do |task| %>
        <div class="task-card">
          <%= link_to(task_path(task)) do %>
            <h4><%= task.name %></h4>
          <% end %>
            <p><%= task.points %></p>
            <p><%= task.assigned_to.username %></p>
          <% unless task.done %>
            <%= link_to("done!", mark_as_done_path(task), data:{turbo_method: :post}, class: "width-fix" ) %>
          <% else %>
            <p>Task done!</p>
          <% end %>
      </div>
      <% end %>
  </div>

  <div data-filter-tasks-target="unassigned" class="container pl-2 overflow-fix d-none">
      <p>open tasks</p>
        <% @tasks.where(assigned_to: nil).each do |task| %>
          <div class="task-card">
            <%= link_to(task_path(task)) do %>
              <h4><%= task.name %></h4>
            <% end %>
            <p><%= task.points %></p>
            <p> unassigned </p>
            <% unless task.done %>
              <%= link_to("done!", mark_as_done_path(task), data:{turbo_method: :post}, class: "width-fix" ) %>
            <% else %>
              <p>Task done!</p>
            <% end %>
          </div>
        <% end %>
  </div>
</div>
