<div class="container task-details-header">
  <h1>Your scores</h1>
</div>


<span class="task-name-card-user1">
  <p><%= current_user.username[0] %> : <%= @user_tasks.pluck(:points).sum %></p>
</span>
<span class="task-name-card-user2">
<p><%= current_user.household.users.reject { |user| user.id == current_user.id }[0].username[0] %> : <%= @partner_tasks.pluck(:points).sum%></p>
</span>
<div class="task-name-card-unassigned">
<p>There are <%=@unassigned_tasks.pluck(:points).sum %> to play for 😎 </p>
<% chart = {
  "You": @user_tasks.pluck(:points).sum,
  "Your partner": @partner_tasks.pluck(:points).sum,
  "Open points": @unassigned_tasks.pluck(:points).sum
} %>
</div>

<%= pie_chart(chart, colors: ['#9534E0', '#F09206', '#808080'])%>
