<h4><%=@task.status %><%=@task.name %></h4>
<ul>
  <li>points: <%=@task.points %></li>
  <li>duration: <%=@task.duration %></li>
  <li>comments: <%=@task.comments %></li>
  <li>due_date: <%=@task.due_date %></li>
  <li>contact: <%=@task.contact %></li>
  <li>category: <%=@task.category.name %></li>
  <li>assigned to: <%=@task.assigned_to.username %></li>
</ul>


