<%= simple_form_for @template, :url => {:action => "create"} do |f| %>
  <%= f.input :name %>
  <%= f.input :points %>
  <%# <%= f.input :duration %>
  <%= f.input :type %>
  <%= f.input :comments %>
  <%= f.association :category, collection: Category.all %>
  <div class="d-flex justify-content-center">
    <%= f.button :submit, class: "btn btn-add"%>
  </div>
<% end %>
