<div class="navbar">
  <% if current_page?(controller:'pages',action: 'home') %>
    <%= link_to tasks_path, class: "active" do %>
      <i class="fa-solid fa-list-check"></i>
    <% end %>
  <% else %>
    <%= link_to tasks_path do %>
      <i class="fa-solid fa-list-check"></i>
    <% end %>
  <% end  %>

  <%= link_to tasks_path do %>
    <i class="fa-solid fa-calendar-days"></i>
  <% end  %>
    <%= link_to tasks_path do %>
      <i class="fa-solid fa-circle-plus"></i>
    <% end  %>

  <% if current_page?(controller:'contacts',action: 'index') %>
    <%= link_to contacts_path, class: "active" do %>
      <i class="fa-solid fa-address-book"></i>
    <% end  %>
  <% end  %>

  <%= link_to tasks_path do %>
    <i class="fa-solid fa-chart-column"></i>
  <% end  %>
</div>
